@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
/*reset*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/*vairables*/
:root {
  --colorOrders:rgba(242, 242, 242, 1);
  --colorBtn-font:rgba(242, 153, 74, 1);
  --bgcolor:rgba(255, 255, 255, 1);
  --fontscolor:rgba(78,81,80,1);
  --colornumber:rgba(51,51,51,1);
}

/*basic styles*/
body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
}

/*fonts*/
header .title-mob {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 2.9rem;
  color: var(--fontscolor);
}

section .name-mob {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.46rem;
  color: var(--fontscolor);
}

section .price-promo-mob {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7rem;
  color: var(--colorBtn-font);
}

section .price-mob {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2rem;
  color: var(--fontscolor);
}

section .number-mob {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.95rem;
  color: var(--colornumber);
}

section .summary-mob .name-shipping-mob,
section .summary-mob .price-shipping-mob {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7rem;
  color: var(--colornumber);
}

/*mobile styles(25rem=400px)*/
@media screen and (max-width: 25rem) {
  body {
    background: -webkit-gradient(linear, right bottom, left top, from(#03f5fd), to(#8c3bf5));
    background: linear-gradient(to left top, #03f5fd, #8c3bf5);
  }
  header .title-mob {
    padding-top: 3.2rem;
    margin-left: 1.8rem;
    margin-bottom: 2.1rem;
  }
  .orders-mob {
    width: 30.5rem;
    height: 40.89rem;
    margin-left: auto;
    margin-right: auto;
  }
  .orders-mob .first-box-mob {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-grid-rows: (auto)[2];
        grid-template-rows: repeat(2, auto);
    margin-bottom: 2.8rem;
  }
  .orders-mob .first-box-mob .box-content-mob {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .orders-mob .first-box-mob .btn-mob {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .orders-mob .first-box-mob .box-img-mob {
    width: 12.2rem;
    height: 12.4rem;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .orders-mob .first-box-mob .box-img-mob .img1-mob {
    height: 100%;
    border-radius: 2rem;
    background-size: cover;
  }
  .orders-mob .first-box-mob .btn-mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 12.2rem;
    height: 5rem;
    border: 1px solid #828282;
    border-radius: 1.2rem;
  }
  .orders-mob .first-box-mob .btn-mob .minus-mob {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: .5rem;
  }
  .orders-mob .first-box-mob .btn-mob .plus-mob {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    border-radius: .5rem;
  }
}
/*# sourceMappingURL=styles.css.map */